<!-- <h1 class="title">AngularFirstApp</h1> -->

<!-- <app-baitap1></app-baitap1> -->

<!-- <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-card>
    <div slot="header">
        Smartphone
    </div>
    <div slot="body">
        <h3>Iphone</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, atque.</p>
    </div>
    <div slot="footer">
        <button type="button" class="btn btn-primary">Buy</button>
    </div>
</app-card>

<app-card>
    <div slot="header">
        Laptop
    </div>
    <div slot="body">
        <h3>Asus</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, atque.</p>
    </div>
    <div slot="footer">
        <button type="button" class="btn btn-primary">Buy</button>
    </div>
</app-card>

<br>
<br>

<div appTestDirective>
    Highlight
</div> -->

<!-- <app-movie></app-movie> -->
<!-- <app-viewchild></app-viewchild> -->
<!-- <app-bus></app-bus> -->
<!-- <button mat-button>Basic</button>
<button mat-button color="primary">primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-stroked-button color="warn">Warn</button>
<button mat-icon-button aria-label="Example icon button with a open in new tab icon">
    <mat-icon>open_in_new</mat-icon>
</button>

<form class="container">
    <mat-form-field class="w-50 d-block">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="w-50">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form> -->

<!-- <app-pipe></app-pipe> -->

<!-- Route -->
<router-outlet></router-outlet>