<!-- <h1 class="title">AngularFirstApp</h1> -->

<!-- <app-baitap1></app-baitap1> -->

<!-- <app-baitap2></app-baitap2> -->

<!-- <app-data-binding></app-data-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- <app-card>
    <div slot="header">
        Smartphone
    </div>
    <div slot="body">
        <h3>Iphone</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, atque.</p>
    </div>
    <div slot="footer">
        <button type="button" class="btn btn-primary">Buy</button>
    </div>
</app-card>

<app-card>
    <div slot="header">
        Laptop
    </div>
    <div slot="body">
        <h3>Asus</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, atque.</p>
    </div>
    <div slot="footer">
        <button type="button" class="btn btn-primary">Buy</button>
    </div>
</app-card>

<br>
<br>

<div appTestDirective>
    Highlight
</div> -->

<!-- <app-movie></app-movie> -->
<!-- <app-viewchild></app-viewchild> -->
<app-bus></app-bus>